已经拿到col4了， 做好它，这样剩下的都可以同样操作方式了；

In [3]:
import json
import scipy
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from scipy import sparse
import pickle
import torch
from torch_geometric.data import Data

In [2]:
oss_js_root = '/data-0/qibo/Gdata/nodefeats/origin/'
save_root = '/data-0/qibo/Gdata/col_4/'
feat_root = '/data-0/qibo/Gdata/origin/'

In [4]:
with open(oss_js_root+'col_4_js', 'r') as f:
    col = json.load(f)

In [3]:
def csr_save_feats(col_num):
    col_path = oss_js_root + 'col_{}_js'.format(col_num)
    with open(col_path, 'r') as f:
        col = json.load(f)
    col_names = pd.DataFrame.from_dict(col).iloc[:,:-1].columns
    col_names = [i.split('_')[1] for i in col_names]
    col_values = pd.DataFrame.from_dict(col).iloc[:,:-1].values
    csr_col = csr_matrix(col_values)
    sparse.save_npz(save_root + 'feat.npz', csr_col)
    with open(save_root+'col_name.pkl', 'wb') as f:
        pickle.dump(col_names, f)
    print('csr file saved in {}{}'.format(save_root, 'feat.npz'))
    print('col_names saved in {}{}'.format(save_root, 'col_name.pkl'))
    return None

def csr_save_edge(col_num):
    edge_path = edge_root + 'col_{}.csv'.format(col_num)
    edges = pd.read_csv(edge_path, header=None).iloc[:,:2].values
    csr_edges = csr_matrix(edges)
    sparse.save_npz(save_root + 'edges.npz', csr_edges)
    print('csr file saved in {}{}'.format(save_root, 'edges.npz'))
    return 

def csr_save_label(y):
    csr_labels = csr_matrix(y.values)
    sparse.save_npz(save_root + 'y.npz', csr_labels)
    print('csr file saved in {}{}'.format(save_root, 'y.npz'))
    return

1. 数据压缩 存到 save_root; for node feats;

In [ ]:
csr_save_feats(4)

2. for edges;

In [ ]:
csr_save_edge(4)

3. load 测试；

In [ ]:
x = sparse.load_npz("/data-0/qibo/Gdata/col_4/feat.npz")
edges = sparse.load_npz("/data-0/qibo/Gdata/col_4/edges.npz")
with open('/data-0/qibo/Gdata/col_4/col_name.pkl', 'rb') as f:
    col_names = pickle.load(f)

4. label；n_overdue == n_fund ; 因为这是18年数据，不可能还有没结清的；

In [9]:
df = pd.DataFrame(x.toarray(), columns=col_names)
y = df.fund == df.paidoff
y = y*1

In [10]:
csr_save_label(y)

csr file saved in /data-0/qibo/Gdata/col_4/y.npz

5. load all

In [1]:
root = '/data-0/qibo/Gdata/col_4/raw'

In [53]:
oss_js_root = '/data-0/qibo/Gdata/nodefeats/origin/'
save_root = '/data-0/qibo/Gdata/col_4/'
edge_root = '/data-0/qibo/Gdata/origin/'
def load_all():
    dic_path = oss_js_root + 'col_4_dict'
    with open(dic_path, 'r') as f:
        userid2idx = json.load(f)
    x = sparse.load_npz("/data-0/qibo/Gdata/col_4/feat.npz")
    y = sparse.load_npz("/data-0/qibo/Gdata/col_4/y.npz")
    with open('/data-0/qibo/Gdata/col_4/col_name.pkl', 'rb') as f:
        col_names = pickle.load(f)
    x = torch.tensor(x.toarray(), dtype =torch.float)
    y = torch.tensor(y.toarray()).squeeze()
    edges = sparse.load_npz("/data-0/qibo/Gdata/col_4/edges.npz").toarray().T
    row1 = [userid2idx[str(i)] for i in edges[0]]
    row2 = [userid2idx[str(i)] for i in edges[1]]
    new_edges = torch.tensor(np.stack([row1, row2]))
    return x, y, new_edges

x, y, edges = load_all()
data = Data(x=x, edge_index=edges, y=y)

In [5]:
with open(root + '/col_4_dict', 'r') as f:
    userid2idx = json.load(f)
with open(root + '/col_name.pkl', 'rb') as f:
    col_names = pickle.load(f)
# -- node_fetas;  labels; edges;
x = sparse.load_npz(root + "/feat.npz")
y = sparse.load_npz(root + "/y.npz")
edges = sparse.load_npz(root + "/edges.npz").toarray().T

df = pd.DataFrame(x.toarray(), columns=col_names)
y = df.fund == df.paidoff
y = y*1

In [12]:
df.shape

(355965, 8)

In [16]:
df[df.fund == 0]

        apply  cancel  fund  overdue  paidoff  reject  renew  submit
0           1       0     0        0        0       1      0       1
2           1       1     0        0        0       0      0       0
7          11       0     0        0        0      11      0      11
8           9       3     0        0        0       6      0       6
9           0       0     0        0        0       0      0       0
13          1       0     0        0        0       1      0       1
15          1       0     0        0        0       1      0       1
16          1       0     0        0        0       0      0       0
17          0       0     0        0        0       0      0       0
20          1       0     0        0        0       1      0       1
23          5       2     0        0        0       3      0       3
24          3       0     0        0        0       3      0       3
26          0       0     0        0        0       0      0       0
30          5       5     0        0        0       0      0       1
31          5       1     0        0        0       4      0       4
36          1       0     0        0        0       1      0       1
38          1       1     0        0        0       0      0       0
40          1       0     0        0        0       1      0       1
47          2       2     0        0        0       0      0       0
52          3       1     0        0        0       2      0       2
54          1       0     0        0        0       1      0       1
55          2       1     0        0        0       1      0       1
56          1       0     0        0        0       1      0       1
63         17       1     0        0        0      16      0      16
67          3       3     0        0        0       0      0       0
69          2       1     0        0        0       1      0       1
70          1       0     0        0        0       1      0       1
72         12       1     0        0        0      11      0      11
77          3       3     0        0        0       0      0       0
83          3       0     0        0        0       3      0       3
...       ...     ...   ...      ...      ...     ...    ...     ...
355889      2       0     0        0        0       2      0       2
355892      3       0     0        0        0       2      0       3
355893      4       0     0        0        0       4      0       4
355895      1       1     0        0        0       0      0       0
355896      0       0     0        0        0       0      0       0
355899      1       0     0        0        0       1      0       1
355900      2       0     0        0        0       2      0       2
355903      1       0     0        0        0       1      0       1
355905      3       2     0        0        0       1      0       2
355907      1       1     0        0        0       0      0       0
355908      2       1     0        0        0       1      0       1
355917      1       0     0        0        0       1      0       1
355919      3       0     0        0        0       3      0       3
355921      2       1     0        0        0       1      0       1
355922      3       1     0        0        0       2      0       2
355923      2       0     0        0        0       2      0       2
355926      1       1     0        0        0       0      0       0
355927      2       0     0        0        0       2      0       2
355928      1       1     0        0        0       0      0       1
355930      1       0     0        0        0       1      0       1
355932      4       1     0        0        0       3      0       3
355936      1       1     0        0        0       0      0       0
355937      1       0     0        0        0       0      0       0
355939      4       0     0        0        0       4      0       4
355942      1       1     0        0        0       0      0       0
355948      1       0     0        0        0       1      0       1
355950      1       1     0        0        0       0      0       0
355952      3       0     0        0        0       3      0       3
355962      2       2     0        0        0       0      0       1
355963      3       0     0        0        0       3      0       3

[123173 rows x 8 columns]

In [15]:
df[(df.paidoff==df.fund)&(df.paidoff!=0)&(df.overdue==0)]

        apply  cancel  fund  overdue  paidoff  reject  renew  submit
100        10       1     3        0        3       6     47      10
215         7       2     5        0        5       0      1       5
367         8       1     7        0        7       0      0       8
402         2       0     1        0        1       0      0       1
467         9       0     9        0        9       0      5       9
555        13       0     7        0        7       6      3      13
559         1       0     1        0        1       0      1       1
570         1       0     1        0        1       0      0       1
725         1       0     1        0        1       0      0       1
815         6       0     6        0        6       0      2       6
871        25       0    21        0       21       4      3      25
894        19       4    14        0       14       1      0      18
916         4       1     3        0        3       0      1       3
1010        1       0     1        0        1       0      0       1
1049        2       1     1        0        1       0      0       2
1083       11       4     5        0        5       2      6       8
1122        2       0     2        0        2       0      2       2
1336        1       0     1        0        1       0      2       1
1388        2       0     2        0        2       0      0       2
1397       13       5     4        0        4       4      6      11
1409        4       2     2        0        2       0      1       2
1519        6       0     6        0        6       0      2       6
1535        1       0     1        0        1       0      0       1
1723        7       0     6        0        6       1      1       7
1810        3       2     1        0        1       0      0       1
1901        8       1     7        0        7       0      2       7
1904       10       0     7        0        7       3      0      10
1919        1       0     1        0        1       0      0       1
1930        8       1     7        0        7       0      3       8
2024        4       3     1        0        1       0      0       4
...       ...     ...   ...      ...      ...     ...    ...     ...
353439      2       0     1        0        1       1      0       2
353506      2       0     2        0        2       0      1       2
353843     14       4     7        0        7       3      7      11
353852      2       0     2        0        2       0      0       2
353887      2       1     1        0        1       0      0       2
354074      1       0     1        0        1       0      0       1
354131      3       0     3        0        3       0      8       3
354168     16       1     9        0        9       6      8      15
354409     13       1    11        0       11       1      0      12
354455      8       4     4        0        4       0     12       5
354571      1       0     1        0        1       0      0       1
354639      9       3     6        0        6       0      0       8
354645     11       2     9        0        9       0      5       9
354766      3       0     1        0        1       2      0       3
354774      2       1     1        0        1       0      1       1
354805      9       0     8        0        8       1      4       9
354818      7       1     6        0        6       0      0       6
354887      2       0     2        0        2       0      0       2
354922      3       2     1        0        1       0      0       3
354940      2       0     2        0        2       0      0       2
355135      5       1     4        0        4       0      0       4
355353      7       2     4        0        4       0      0       5
355482      2       1     1        0        1       0      0       2
355525      1       0     1        0        1       0      0       1
355536      3       1     2        0        2       0      0       2
355546     23       1    22        0       22       0      2      22
355556      7       3     4        0        4       0      3       5
355603     17       3     1        0        1      12      0      13
355707      4       0     4        0        4       0      0       4
355949      6       2     4        0        4       0      0       6

[4857 rows x 8 columns]

In [8]:
df[(df.paidoff==0)&(df.fund==1)]

        apply  cancel  fund  overdue  paidoff  reject  renew  submit
41          4       0     1        1        0       3      0       4
64          2       0     1        1        0       1      0       2
68          1       0     1        1        0       0      0       1
75          3       2     1        1        0       0      0       2
90         11       2     1        1        0       8      0       9
102         1       0     1        1        0       0      0       1
116         4       3     1        1        0       0      0       4
117         1       0     1        1        0       0      0       1
123         1       0     1        1        0       0      0       1
137         1       0     1        1        0       0      0       1
149         1       0     1        1        0       0      0       1
163         1       0     1        1        0       0      0       1
174         1       0     1        1        0       0      0       1
177         6       1     1        1        0       4      0       5
181         4       1     1        1        0       2      0       3
187         1       0     1        1        0       0      0       1
205         1       0     1        2        0       0      1       1
213        28       9     1        1        0      17      0      18
241         9       0     1        1        0       8      0       9
252         1       0     1        1        0       0      0       1
254         1       0     1        0        0       0      0       1
257         1       0     1        1        0       0      0       1
272         4       2     1        1        0       1      0       3
278         1       0     1        1        0       0      0       1
281         1       0     1        1        0       0      0       1
288        11       0     1        1        0      10      0      11
293         2       1     1        1        0       0      0       2
298         1       0     1        1        0       0      0       1
305         1       0     1        1        0       0      0       1
310         2       0     1        1        0       0      0       2
...       ...     ...   ...      ...      ...     ...    ...     ...
355816      1       0     1        1        0       0      0       1
355824      2       0     1        1        0       1      0       2
355830      2       1     1        1        0       0      0       2
355833      1       0     1        1        0       0      0       1
355834      3       0     1        1        0       2      0       3
355835      1       0     1        1        0       0      0       1
355838      1       0     1        1        0       0      0       1
355839      4       3     1        1        0       0      0       1
355842      1       0     1        1        0       0      0       1
355861      2       0     1        1        0       1      0       2
355863      1       0     1        1        0       0      0       1
355888      1       0     1        1        0       0      0       1
355909      6       0     1        1        0       5      0       6
355912      3       1     1        1        0       0      0       2
355914      1       0     1        1        0       0      0       1
355915      5       0     1        1        0       4      0       5
355916      2       0     1        1        0       0      0       1
355920      4       1     1        1        0       2      0       3
355924      5       0     1        1        0       4      0       5
355934      1       0     1        1        0       0      0       1
355935      1       0     1        1        0       0      0       1
355938      3       2     1        1        0       0      0       1
355941      2       1     1        1        0       0      0       1
355944      1       0     1        1        0       0      0       1
355945      1       0     1        1        0       0      0       1
355946      1       0     1        2        0       0      3       1
355947      1       0     1        1        0       0      0       1
355953      1       0     1        1        0       0      0       1
355959     15       2     1        1        0      12      0      13
355964      4       0     1        1        0       3      0       4

[57604 rows x 8 columns]

In [9]:
df[(df.paidoff==0)&(df.fund==0)]

        apply  cancel  fund  overdue  paidoff  reject  renew  submit
0           1       0     0        0        0       1      0       1
2           1       1     0        0        0       0      0       0
7          11       0     0        0        0      11      0      11
8           9       3     0        0        0       6      0       6
9           0       0     0        0        0       0      0       0
13          1       0     0        0        0       1      0       1
15          1       0     0        0        0       1      0       1
16          1       0     0        0        0       0      0       0
17          0       0     0        0        0       0      0       0
20          1       0     0        0        0       1      0       1
23          5       2     0        0        0       3      0       3
24          3       0     0        0        0       3      0       3
26          0       0     0        0        0       0      0       0
30          5       5     0        0        0       0      0       1
31          5       1     0        0        0       4      0       4
36          1       0     0        0        0       1      0       1
38          1       1     0        0        0       0      0       0
40          1       0     0        0        0       1      0       1
47          2       2     0        0        0       0      0       0
52          3       1     0        0        0       2      0       2
54          1       0     0        0        0       1      0       1
55          2       1     0        0        0       1      0       1
56          1       0     0        0        0       1      0       1
63         17       1     0        0        0      16      0      16
67          3       3     0        0        0       0      0       0
69          2       1     0        0        0       1      0       1
70          1       0     0        0        0       1      0       1
72         12       1     0        0        0      11      0      11
77          3       3     0        0        0       0      0       0
83          3       0     0        0        0       3      0       3
...       ...     ...   ...      ...      ...     ...    ...     ...
355889      2       0     0        0        0       2      0       2
355892      3       0     0        0        0       2      0       3
355893      4       0     0        0        0       4      0       4
355895      1       1     0        0        0       0      0       0
355896      0       0     0        0        0       0      0       0
355899      1       0     0        0        0       1      0       1
355900      2       0     0        0        0       2      0       2
355903      1       0     0        0        0       1      0       1
355905      3       2     0        0        0       1      0       2
355907      1       1     0        0        0       0      0       0
355908      2       1     0        0        0       1      0       1
355917      1       0     0        0        0       1      0       1
355919      3       0     0        0        0       3      0       3
355921      2       1     0        0        0       1      0       1
355922      3       1     0        0        0       2      0       2
355923      2       0     0        0        0       2      0       2
355926      1       1     0        0        0       0      0       0
355927      2       0     0        0        0       2      0       2
355928      1       1     0        0        0       0      0       1
355930      1       0     0        0        0       1      0       1
355932      4       1     0        0        0       3      0       3
355936      1       1     0        0        0       0      0       0
355937      1       0     0        0        0       0      0       0
355939      4       0     0        0        0       4      0       4
355942      1       1     0        0        0       0      0       0
355948      1       0     0        0        0       1      0       1
355950      1       1     0        0        0       0      0       0
355952      3       0     0        0        0       3      0       3
355962      2       2     0        0        0       0      0       1
355963      3       0     0        0        0       3      0       3

[123173 rows x 8 columns]

6. InmemeryDataset 对象；

In [41]:
import json
import scipy
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from scipy import sparse
import pickle
import torch
from torch_geometric.data import Data

import torch
import torch.nn.functional as F
# from torch_geometric.datasets import Planetoid
import torch_geometric.transforms as T
from torch_geometric.nn import SplineConv,GCNConv


import torch
from torch_geometric.data import InMemoryDataset, download_url
# from torch_geometric.read import read_planetoid_data
def sample_mask(index, num_nodes):
    mask = torch.zeros((num_nodes, ), dtype=torch.uint8)
    mask[index] = 1
    return mask

def split_idx(y, split):
    if isinstance(y, torch.Tensor):
        y = torch.tensor(y)
    x_perm = y[torch.randperm(len(y))]
    train_end_idx = int(len(y)*split[0])
    valid_end_idx = int(len(y)*(split[0]+split[1]))
    train_idx = x_perm[:train_end_idx]
    valid_idx = x_perm[train_end_idx:valid_end_idx]
    test_idx = x_perm[valid_end_idx:]
    return train_idx, valid_idx, test_idx

def samples_split_mask(y, split=(0.6,0.2)):
    train_idx, valid_idx, test_idx = split_idx(y, split)
    train_mask = sample_mask(train_idx, num_nodes=y.size(0))
    val_mask = sample_mask(valid_idx, num_nodes=y.size(0))
    test_mask = sample_mask(test_idx, num_nodes=y.size(0))
    return train_mask, val_mask, test_mask

def read_cashbus_data(root):
    # -- userid2idx;
    with open(root + '/col_4_dict', 'r') as f:
        userid2idx = json.load(f)
    # -- node_fetas;  labels; edges;
    x = sparse.load_npz(root + "/feat.npz")
    y = sparse.load_npz(root + "/y.npz")
    edges = sparse.load_npz(root + "/edges.npz").toarray().T
    
    x = torch.tensor(x.toarray(), dtype =torch.float)
    y = torch.tensor(y.toarray()).squeeze()
    row1 = [userid2idx[str(i)] for i in edges[0]]
    row2 = [userid2idx[str(i)] for i in edges[1]]
    new_edges = torch.tensor(np.stack([row1, row2]))
    train_mask, val_mask, test_mask = samples_split_mask(y, split=(0.6,0.2))
    data = Data(x=x, edge_index=new_edges, y=y)
    data.train_mask = train_mask
    data.val_mask = val_mask
    data.test_mask = test_mask
    return data


class CashBus(InMemoryDataset):
    r"""The citation network datasets "Cora", "CiteSeer" and "PubMed" from the
    `"Revisiting Semi-Supervised Learning with Graph Embeddings"
    <https://arxiv.org/abs/1603.08861>`_ paper.
    Nodes represent documents and edges represent citation links.
    Training, validation and test splits are given by binary masks.
    Args:
        root (string): Root directory where the dataset should be saved.
        name (string): The name of the dataset (:obj:`"Cora"`,
            :obj:`"CiteSeer"`, :obj:`"PubMed"`).
        transform (callable, optional): A function/transform that takes in an
            :obj:`torch_geometric.data.Data` object and returns a transformed
            version. The data object will be transformed before every access.
            (default: :obj:`None`)
        pre_transform (callable, optional): A function/transform that takes in
            an :obj:`torch_geometric.data.Data` object and returns a
            transformed version. The data object will be transformed before
            being saved to disk. (default: :obj:`None`)
    """


    def __init__(self, root, transform=None, pre_transform=None):
        super(CashBus, self).__init__(root, transform, pre_transform)
        print('processed_path:{}'.format(self.processed_paths))
        self.data, self.slices = torch.load(self.processed_paths[0])

    @property
    def raw_file_names(self):
        return ['col_4_dict', 'feat.npz', 'y.npz', 'edges.npz', 'col_name.pkl']

    @property
    def processed_file_names(self):
        return 'data.pt'
    
    def download(self):
        pass

    def process(self):
        print('go pl, raw_dir:{}'.format(self.raw_dir))
        data = read_cashbus_data(self.raw_dir)
        data = data if self.pre_transform is None else self.pre_transform(data)
        data, slices = self.collate([data])
        torch.save((data, slices), self.processed_paths[0])

    def __repr__(self):
        return '{}()'.format(self.name)